
# Windows Zone Identifier (never commit)
*:Zone.Identifier

# deps
node_modules/

# backups
*.tgz
backups/

# local artifacts
cookies.txt
cookies2.txt

# Local overrides
/docker-compose.override.yml
